html, body {
  margin: 0;
  padding: 0;
}

body {
  /* This is a font-stack that tries to use the system-default sans-serifs first */
  font-family: Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

x-postpress-app {
  --x-postpress-article-gallery-display: flex;
  --x-postpress-article-gallery-item-flex: auto;
  --x-postpress-article-gallery-item-margin: 0;

  --x-postpress-h1-font-size: 2.25rem;
  --x-postpress-h1-font-weight: 600;
  --x-postpress-img-padding-top: 2rem;
  --x-postpress-img-max-width: 100%;
  --x-postpress-li-display: list-item;
  --x-postpress-ul-list-style-type: disc;
  --x-postpress-ul-margin: 0 0 0 1rem;
}

.theme-light body {
  background-color: #fff;

  color: #000;
}

.theme-dark body {
  background-color: #111;

  color: #aaa;
}

.theme-light x-postpress-app {
  background-color: #fff;

  --x-postpress-a-color: #000;
  --x-postpress-app-toolbar-background-color: #111;
  --x-postpress-branding-text-color: #eee;
  --x-postpress-drawer-header-background-color: #111;
  --x-postpress-drawer-header-color: #eee;

  --drawer-scrim-background: rgba(0, 0, 0, 0.8);
  --paper-dropdown-menu-color: #000;
  --paper-dropdown-menu-focused-color: #000;
  --paper-listbox-background-color: #222;
  --paper-listbox-color: #eee;
  --primary-background-color: #fff;
  --primary-color: #000;
  --primary-foreground-color: #111;
  --primary-text-color: #111;
  --secondary-text-color: #000;
  --text-color: #111;
}

.theme-dark x-postpress-app {
  background-color: #000;

  --x-postpress-a-color: #fff;
  --x-postpress-app-toolbar-background-color: #000;
  --x-postpress-branding-text-color: #fff;
  --x-postpress-drawer-header-background-color: #000;
  --x-postpress-drawer-header-color: #eee;

  --drawer-scrim-background: rgba(0, 0, 0, 0.8);
  --paper-dropdown-menu-color: #fff;
  --paper-dropdown-menu-focused-color: #fff;
  --paper-listbox-background-color: #111;
  --primary-background-color: #000;
  --primary-color: #fff;
  --primary-foreground-color: #eee;
  --primary-text-color: #eee;
  --secondary-text-color: #fff;
  --text-color: #eee;
}
